<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <span class="navbar-brand">Beans Love Beers</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
        (click)="toggleCollapsed()"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="''" class="nav-link">Home</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a [routerLink]="'/favourites'" class="nav-link">Favourites</a>
            </li>
        </ul>
    </div>
</nav>